<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Sudha Subramanian.  It uses data from mapbox.com and darksky.net </p>
            <br>
            <hr>
            <br>
            <p>To learn more about me, please click the picture below.</p>
            <a href="https://susub31.github.io/about.html" target="_blank">
                <img src="/img/sudha.jpg" class="portrait" alt="About Sudha Subramanian" >
            </a>
        </div>


        {{>footer}}
    </body>
</html>